<form method="post" action="{{ path('parapharmacie_delete', {'id': parapharmacie.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce produit parapharmacetique?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ parapharmacie.id) }}"><br>
    <button class="btn btn-danger">Supprimer</button>
</form>
