<tbody>
<tr>
    <th>Id</th>
    <td>{{ fournir.id }}</td>
</tr>
<tr>
    <th>Quantity</th>
    <td>{{ fournir.quantity }}</td>
</tr>
<tr>
    <th>Create_at</th>
    <td>{{ fournir.createAt ? fournir.createAt|date('Y-m-d H:i:s') : '' }}</td>
</tr>
</tbody>